---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ContentSection from "~/components/content-section.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("insight");
// const allPosts = await Astro.glob("../*.md");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <div class="mt-20 sm:mt-10 sm:pb-32 sm:pt-10">
    <ContentSection title="品牌洞察" subtitle="Our Insights" id="insight">
      <Fragment slot="content">
        {
          tags.map((tag) => (
            <a href={`/insight/tags/${tag}`} class="text-xs">
              <span class="badge">{tag}</span>
            </a>
          ))
        }
      </Fragment>
    </ContentSection>
  </div>
</BaseLayout>
