---
import BaseLayout from "~/layouts/BaseLayout.astro";
import ContentSection from "~/components/content-section.astro";
import Btn from "../components/button.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="404 - 页面未找到" description="您访问的页面不存在。">
  <div class="mt-10 sm:py-32">
    <ContentSection title="Oops!" subtitle="你好像迷路啦..." id="404">
      <Fragment slot="description">
        <div class="relative">
          <div class="absolute -top-24 col-span-2">
            <Icon name="MessyDoodle" class="h-72 w-72" />
          </div>
        </div>
      </Fragment>
    </ContentSection>
    <div class="mt-10 text-center">
      <Btn btnText="← Go Back" btnAltText="← 返回" url="/" />
    </div>
  </div>
</BaseLayout>
