---
import BaseLayout from "~/layouts/BaseLayout.astro";
import ContentSection from "~/components/content-section.astro";
import Btn from "../components/button.astro";
---

<BaseLayout>
  <div class="mt-10 sm:py-32">
    <ContentSection title="Oops!" subtitle="404" id="404">
      <Fragment slot="description">你好像迷路啦...</Fragment>
    </ContentSection>
    <div class="mt-10 text-center">
      <Btn btnText="← Go Back" btnAltText="← 返回" url="/" />
    </div>
  </div>
</BaseLayout>
