---
import "@fontsource/inter/variable.css";
import Head from "~/components/in-head.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/header-fixed.astro";
import ContentSection from "~/components/content-section.astro";
import "../styles/index.css";
---

<!DOCTYPE html>
<html lang="zh-CN" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <Head />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-primary selection:text-white"
  >
    <Header />
    <div class="mt-10 sm:py-32">
      <ContentSection title="关于我们" subtitle="About Us" id="about">
        <Fragment slot="description">
          我们是一家新锐的品牌设计工作室，致力于通过创意与技术来融合商业性、艺术性和理性构思，帮助合作伙伴传达品牌价值，增强客户与品牌的情感链接。
        </Fragment>
        <Fragment slot="content">
          About
        </Fragment>
      </ContentSection>
    </div>
    <Footer />
  </body>
</html>