---
import BaseLayout from "~/layouts/BaseLayout.astro";
import ContentSection from "~/components/content-section.astro";
import Breadcrumbs from "~/components/breadcrumbs.astro";
import "../styles/index.css";
const urlList = Astro.url.pathname.split('/');
---

<BaseLayout>
  <div class="mt-20 sm:mt-10 sm:pb-32 sm:pt-10">
    <Breadcrumbs urlList={urlList} />
    <ContentSection title="关于我们" subtitle="About Us" id="about">
      <Fragment slot="description">
        我们是一家新锐的品牌设计工作室，致力于通过创意与技术来融合商业性、艺术性和理性构思，帮助合作伙伴传达品牌价值，增强客户与品牌的情感链接。
      </Fragment>
      <Fragment slot="description-below">
        We are an emerging brand design studio dedicated to fusing commercial
        sensibilities, artistic expression and rational ideation through
        creativity and technology.
        <br />Our goal is to help partners convey brand values and strengthen
        emotional connections between customers and brands.
      </Fragment>
      <Fragment slot="content">About</Fragment>
    </ContentSection>
  </div>
</BaseLayout>
