---
import BaseLayout from "~/layouts/BaseLayout.astro";
import ContentSection from "~/components/content-section.astro";
import Breadcrumbs from "~/components/breadcrumbs.astro";
import MemberCard from "~/components/member-card.astro";
import { getMember } from "~/data/about";
const members = await getMember();
const urlList = Astro.url.pathname.split("/").filter(Boolean);
---

<BaseLayout title="关于我们" description="了解格润达理工作室的团队和使命。">
  <div class="mt-20 sm:mt-10 sm:pb-32 sm:pt-10">
    <Breadcrumbs urlList={urlList} />
    <ContentSection title="关于我们" subtitle="About Us" id="about">
      <Fragment slot="description">
        我们是一家新锐的设计工作室，致力于通过创意与技术来融合商业性、艺术性和理性构思，帮助合作伙伴传达品牌价值，增强客户与品牌的情感链接。
      </Fragment>
      <Fragment slot="description-below">
        We are an emerging design studio dedicated to fusing commercial
        sensibilities, artistic expression and rational ideation through
        creativity and technology.
        <br />Our goal is to help partners convey brand values and strengthen
        emotional connections between customers and brands.
      </Fragment>
      <Fragment slot="content">
        <div class="grid grid-cols-5">
          <div class="col-span-full md:col-span-3 md:col-start-3">
            <div class="flex flex-col gap-4 sm:grid sm:grid-cols-2">
              {
                members.map((member) => (
                  <MemberCard
                    member={member}
                  />
                ))
              }
            </div>
          </div>
        </div>
        <div class="pt-32 sm:pt-24 mx-auto grid grid-cols-5">
          <div class="w-full col-span-full md:col-start-3 md:col-span-3 flex flex-col text-left">
            <p class="leading-loose text-default text-xs break-words">
              Our Friends
            </p>
            <a href="https://coreychiu.com" class="text-sm font-medium after:content-['_↗']">Corey Chiu</a>
          </div>
        </div>
      </Fragment>
    </ContentSection>
  </div>
</BaseLayout>
