---
import "@fontsource/inter/variable.css";
// import { ViewTransitions } from "astro:transitions";
import Head from "~/components/in-head.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/header.astro";
import Showcase from "../components/showcase.astro";
import Splash from "../components/splash.astro";
import Service from "~/components/service.astro";
import Clinet from "~/components/clinet.astro";
import Insight from "~/components/insight.astro";
import Contact from "~/components/contact.astro";
import "../styles/index.css";
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang} class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <Head />
    <!-- <ViewTransitions /> -->
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="py-0 sm:py-32">
      <Showcase />
      <Service />
      <Clinet />
      <Insight />
      <Contact />
    </div> -->
    <!-- <Footer /> -->
  </body>
</html>
