---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Breadcrumbs from "~/components/breadcrumbs.astro";
import ContentSection from "~/components/content-section.astro";
import BlogCard from "~/components/blog-card.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("insight");
// 按日期倒序排序
allPosts.sort((a: { data: { pubDate: string | number | Date; }; }, b: { data: { pubDate: string | number | Date; }; }) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
// const allPosts = await Astro.glob("./*.md");
const urlList = Astro.url.pathname.split("/").filter(Boolean);
---

<BaseLayout>
  <div class="mt-20 sm:mt-10 sm:pb-32 sm:pt-10">
    <Breadcrumbs urlList={urlList} />
    <ContentSection title="品牌洞察" subtitle="Our Insights" id="insight">
      <Fragment slot="description">
        Greener-Dalii
        Studio深入研究市场趋势，精准剖析消费者心理，分享独到的品牌见解和前沿设计思考。跟随我们的视角，一起探索品牌生命力的源泉与无限可能性。
      </Fragment>
      <Fragment slot="description-below">
        Greener-Dalii Studio delves deeply into market trends, meticulously
        dissects consumer psychology, and shares profound brand perspectives and
        cutting-edge design philosophies. Join us on a journey to explore the
        wellspring of brand vitality and endless possibilities.
      </Fragment>
      <Fragment slot="content">
        <BlogCard allPosts={allPosts}></BlogCard>
      </Fragment>
    </ContentSection>
  </div>
</BaseLayout>
