---
---

<!-- Card Blog -->
<div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <!-- Grid -->
  <div class="grid gap-6 lg:grid-cols-3">
    <!-- Card -->
    <a class="group relative block" href="#">
      <div
        class="relative h-[350px] w-full w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:h-full before:w-full before:bg-gradient-to-t before:from-gray-900/[.7]"
      >
        <img
          class="absolute top-0 left-0 h-full w-full object-cover"
          src="https://images.unsplash.com/photo-1669828230990-9b8583a877ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1062&q=80"
          alt="Image Description"
        />
      </div>

      <div class="absolute inset-x-0 top-0 z-10">
        <div class="flex h-full flex-col p-4 sm:p-6"></div>
      </div>

      <div class="absolute inset-x-0 bottom-0 z-10">
        <div class="flex h-full flex-col p-4 sm:p-6">
          <h3
            class="font-semibold text-white text-lg group-hover:text-white/[.8] sm:text-3xl"
          >
            Facebook is creating a news section in Watch to feature breaking
            news
          </h3>
          <p class="mt-2 text-white/[.8]">
            Facebook launched the Watch platform in August
          </p>
        </div>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="group relative block" href="#">
      <div
        class="relative h-[350px] w-full w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:h-full before:w-full before:bg-gradient-to-t before:from-gray-900/[.7]"
      >
        <img
          class="absolute top-0 left-0 h-full w-full object-cover"
          src="https://images.unsplash.com/photo-1611625618313-68b87aaa0626?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"
          alt="Image Description"
        />
      </div>

      <div class="absolute inset-x-0 top-0 z-10">
        <div class="flex h-full flex-col p-4 sm:p-6"></div>
      </div>

      <div class="absolute inset-x-0 bottom-0 z-10">
        <div class="flex h-full flex-col p-4 sm:p-6">
          <h3
            class="font-semibold text-white text-lg group-hover:text-white/[.8] sm:text-3xl"
          >
            What CFR (Conversations, Feedback, Recognition) really is about
          </h3>
          <p class="mt-2 text-white/[.8]">
            For a lot of people these days, Measure What Matters.
          </p>
        </div>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="group relative block" href="#">
      <div
        class="relative h-[350px] w-full w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:h-full before:w-full before:bg-gradient-to-t before:from-gray-900/[.7]"
      >
        <img
          class="absolute top-0 left-0 h-full w-full object-cover"
          src="https://images.unsplash.com/photo-1611625618313-68b87aaa0626?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"
          alt="Image Description"
        />
      </div>

      <div class="absolute inset-x-0 top-0 z-10">
        <div class="flex h-full flex-col p-4 sm:p-6"></div>
      </div>

      <div class="absolute inset-x-0 bottom-0 z-10">
        <div class="flex h-full flex-col p-4 sm:p-6">
          <h3
            class="font-semibold text-white text-lg group-hover:text-white/[.8] sm:text-3xl"
          >
            What CFR (Conversations, Feedback, Recognition) really is about
          </h3>
          <p class="mt-2 text-white/[.8]">
            For a lot of people these days, Measure What Matters.
          </p>
        </div>
      </div>
    </a>
    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
