---
export interface Props {
  btnText: string;
  url: string;
}

const { btnText, url } = Astro.props;
---

<a
  class="middle none center rounded bg-zinc-950 py-3 px-6 font-sans font-bold uppercase text-white shadow-md shadow-zinc-500/20 transition-all text-xs hover:shadow-lg hover:shadow-zinc-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none block sm:inline-block"
  href={url}
>
  {btnText}
</a>
