---
import { Icon } from 'astro-icon/components'
import ContentSection from "./content-section.astro";
---

<ContentSection title="合作品牌" subtitle="Our Clients" id="clients">
  <Fragment slot="description">
    在此部分，您将看到我们与众多国内外知名品牌的合作成果。通过携手这些企业，我们共同创造了一系列令人瞩目的品牌故事，见证了品牌的不断成长与价值提升。
  </Fragment>
  <Fragment slot="description-below">
    Here, you'll find a collection of collaborative triumphs with leading domestic and international brands. Together, we have crafted remarkable brand narratives and witnessed their continuous growth and value enhancement.
  </Fragment>
  <Fragment slot="content">
    <div class="mx-auto max-w-[85rem] py-10 px-6 lg:px-8 lg:py-14">
      <div class="grid grid-cols-3 justify-items-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
        <Icon name="clients/logo_1" class="text-7xl sm:text-9xl w-auto grayscale hover:grayscale-0"/>
        <Icon name="clients/logo_2" class="text-7xl sm:text-9xl w-auto grayscale hover:grayscale-0 hover:transition-all"/>
        <Icon name="clients/logo_3" class="text-7xl sm:text-9xl w-auto grayscale hover:grayscale-0 hover:transition-all"/>
      </div>
    </div>
  </Fragment>
</ContentSection>

<!-- End Clients -->
