---
---

<section class="mx-auto max-w-7xl space-y-2">
  <div class="container mx-auto py-24">
    <div class="mx-auto flex flex-col items-start sm:flex-row sm:items-center">
      <h1
        class="title-font flex-grow font-medium text-2xl sm:pr-16"
      >
        Let's work together.
      </h1>
      <button
        class="mt-10 flex-shrink-0 rounded border-0 bg-indigo-500 py-2 px-8 text-white text-lg hover:bg-indigo-600 focus:outline-none sm:mt-0"
        >Button</button
      >
    </div>
  </div>
</section>
