---
import Btn from "./button.astro";
---

<section class="mx-auto max-w-7xl space-y-2">
  <div class="container mx-auto py-24">
    <div class="mx-auto flex flex-col items-start sm:flex-row sm:items-center">
      <h1
        class="title-font flex-grow font-medium text-2xl sm:pr-16"
      >
        Let's work together.
      </h1>
      <div class="mt-10 text-center">
        <Btn btnText="Contact Us" url="#"></Btn>
      </div>
    </div>
  </div>
</section>
