---
import { Icon } from "astro-icon";
---

<footer class="body-font text-default">
  <div
    class="mx-auto px-8 flex flex-col items-center py-8 sm:flex-row"
  >
    <a
      class="title-font flex items-center justify-center font-medium text-default md:justify-start"
    >
        <Icon name="logomark" class="h-10" />
    </a>
    <p
      class="mt-4 text-default text-sm sm:ml-4 sm:mt-0 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:pl-4"
    >
      © {new Date().getFullYear()} Greener-Dalii Studio —
      <a
        href="https://www.behance.net/greenerdalii"
        class="ml-1 text-default"
        rel="noopener noreferrer"
        target="_blank">@greenerdalii</a
      >
    </p>
    <span
      class="mt-4 inline-flex justify-center sm:ml-auto sm:mt-0 sm:justify-start"
    >
      <a class="text-default">
        <Icon name="mdi:behance" class="h-6 w-6"/>
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:instagram" class="h-6 w-6"/>
      </a>
      <a class="ml-3 text-default">
        <Icon name="ri:zcool-line" class="h-6 w-6"/>
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:sina-weibo" class="h-6 w-6" />
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:wechat" class="h-6 w-6" />
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:github" class="h-6 w-6" />
      </a>
    </span>
  </div>
</footer>
