---
import { Icon } from "astro-icon";
---

<footer class="body-font text-default">
  <div
    class="mx-auto px-8 flex flex-col items-center py-8 sm:flex-row"
  >
    <a
      class="title-font flex items-center justify-center font-medium text-default md:justify-start"
    >
      <!-- <svg
        fill="none"
        viewBox="-40 -20 820 820"
        class="astro-HPNW4VWY h-10"
        astro-icon="logomark"
        ><path
          fill="currentColor"
          d="M325.5 129.7v173.5l99.2 18.8V129.7h219.1v211.2l99.2 18.9V30.4H7.2v310.5l99.2 18.9V129.7zM424.7 621.2V447.5l-99.2-18.9v192.6H106.4V409.7L7.2 390.9v329.5H743V409.7l-99.2-18.8v230.3z"
        ></path></svg> -->
        <Icon name="logomark" class="h-10" />
    </a>
    <p
      class="mt-4 text-default text-sm sm:ml-4 sm:mt-0 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:pl-4"
    >
      © {new Date().getFullYear()} Greener-Dalii Studio —
      <a
        href="https://www.behance.net/greenerdalii"
        class="ml-1 text-default"
        rel="noopener noreferrer"
        target="_blank">@greenerdalii</a
      >
    </p>
    <span
      class="mt-4 inline-flex justify-center sm:ml-auto sm:mt-0 sm:justify-start"
    >
      <a class="text-default">
        <Icon name="mdi:behance" class="h-6 w-6"/>
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:instagram" class="h-6 w-6"/>
      </a>
      <a class="ml-3 text-default">
        <Icon name="ri:zcool-line" class="h-6 w-6"/>
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:sina-weibo" class="h-6 w-6" />
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:wechat" class="h-6 w-6" />
      </a>
      <a class="ml-3 text-default">
        <Icon name="mdi:github" class="h-6 w-6" />
      </a>
    </span>
  </div>
</footer>
