---
import { Icon } from "astro-icon/components"
---

<div class="flex justify-center sticky bottom-0 -z-10 bg-[--color-secondary] pt-16">
    <Icon name="wordmark" class="w-full sm:w-10/12 h-auto text-[--color-background]" />
</div>