---
import type { InsightSite } from "../types";

export interface Props {
    site: InsightSite
}

const { site } = Astro.props;
---

<!-- Card -->
<a class="group relative block" href={site.url}>
    <div
      class="relative h-[350px] w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:h-full before:w-full before:bg-gradient-to-t before:from-gray-900/[.7] before:group-hover:bg-gradient-to-t"
    >
      <img
        class="absolute top-0 left-0 h-full w-full object-cover group-hover:shadow-2xl group-hover:scale-110 transition-all duration-300"
        src={site.image}
        alt="Image Description"
      />
    </div>

    <div class="absolute inset-x-0 bottom-0 z-10">
      <div class="flex h-full flex-col p-4 sm:p-6">
        <h3
          class="font-semibold text-white text-lg group-hover:text-white/[.8] sm:text-3xl"
        >
          {site.title}
        </h3>
        <p class="mt-2 text-white/[.8]">
          {site.describe}
        </p>
      </div>
    </div>
  </a>
  <!-- End Card -->