---
const { member } = Astro.props;
import { Image } from "astro:assets";

import type { MemberInfo } from "~/types";
export interface Props {
    member: MemberInfo;
}
---

<div class="group card w-full bg-[--color-background-offset] sm:max-w-80 hover:shadow-lg ease-in-out transition-shadow duration-300">
    <figure class="overflow-hidden">
        <Image src={member.image} width="1000" class="object-cover object-center transition-all duration-300 group-hover:scale-110"
        alt={`A screenshot of ${member.name}`} />
    </figure>
    <div class="card-body">
        <h2 class="card-title group-hover:underline">
            {member.name}
        </h2>
        <p class="text-xs text-[--color-text-offset]">{member.occupation}</p>
    </div>
</div>
