---
import { Icon } from 'astro-icon/components'
import ThemeSwitcher from "./theme-switcher.astro";
import type { NavItem } from "../types";

const navItems: Array<NavItem> = [
  { title: "Home", url: "/"},
  { title: "Work", url: "/work" },
  { title: "Insight", url: "/insight" },
  { title: "Service", url: "/service" },
  { title: "About", url: "/about" },
  { title: "Contact", url: "/contact" },
];
---

<header
  id="page-header"
  class="absolute bottom-0 z-20 flex w-full items-center justify-between border-b border-transparent px-6 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:text-primary" href="/">
    <h1 class="sr-only">Greener-Dalii Studio</h1>
    <Icon name="logomark" class="text-3xl" />
    <Icon name="wordmark" class="hidden text-xl sm:block" />
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6 pr-4">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="hover:underline2 text-sm" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div id="dropmenu" class="dropdown dropdown-top dropdown-end sm:hidden">
        <div id="open-nav-button" tabindex="0" role="button" class="btn btn-ghost rounded-btn">
          <Icon name="mdi:menu" class="text-xl" />
        </div>
        <ul tabindex="0" class="text-default menu dropdown-content z-[1] p-2 shadow-xl rounded-box w-40 mt-4">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="block py-1 text-right text-xs" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <ThemeSwitcher />
    </div>
  </div>
</header>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed top-0 bottom-auto;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
