---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import bgVideo from "/videos/logo.mp4";
import logoDot from "../assets/logodot.png";

const videoProps = {
  playsInline: true,
  autoPlay: true,
  muted: true,
  loop: true,
};
---

<section
  class="max-w-screen relative grid h-full place-content-center justify-items-center bg-black"
>
  <video
    class="hidden w-screen object-cover sm:flex"
    {...videoProps}
  >
    <source src={bgVideo} type="video/mp4" />
  </video>
  <Image
    id="splashLogo"
    class="h-full w-full animate-pulse ease-in-out object-cover sm:hidden"
    src={logoDot}
    width="600"
    height="600"
    loading="eager"
    alt="A floating Greener-Dalii Studio's logo dot edition"
  />
  <div
    id="arrow-down"
    class="absolute bottom-2 z-10 mt-40 h-6 animate-bounce border-current text-white sm:hidden"
  >
    <Icon name="ic:baseline-keyboard-double-arrow-down" />
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>
