---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'
import logoDot from "../assets/logodot.png";
const bgVideo = new URL('/public/videos/logo.mp4',import.meta.url).href

const videoProps = {
  playsInline: true, 
  autoPlay: true,
  muted: true,
  loop: true  
}

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <video class="h-full w-full object-cover" {...videoProps}>
    <source src={bgVideo} type="video/mp4">
  </video> 
  <div class="flex h-screen flex-col items-center justify-center">
    <!-- Splash Text & Pic -->
    <div class="relative grid h-full place-items-center sm:grid-cols-2">
      <h2
        class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
      >
        <!-- <Icon name="logomark" class="h-24 text-white md:h-32" /> -->
        <div
          class="text-center font-extrabold tracking-tighter text-white text-8xl"
        >
          Bring Brand Desgin
          <br />To Everyone
        </div>
        <div
          class="text-center font-extrabold tracking-tighter text-white text-3xl"
        >
          敬请期待...
        </div>
      </h2>
      <div
        class="mx-auto mt-8 w-2/3 max-w-3xl self-start sm:mt-0 sm:w-3/4 sm:self-auto sm:justify-self-start"
      >
        <Image
          id="splashLogo"
          class="h-full w-full object-cover"
          src={logoDot}
          width="600"
          height="600"
          loading="eager"
          alt="A floating Greener-Dalii Studio's logo dot edition"
        />
      </div>
    </div>
    <!-- Arrow-Down -->
    <div
      id="arrow-down"
      class="z-10 mb-20 h-16 w-16 animate-bounce border-current p-3 text-white"
    >
      <Icon name="ic:baseline-keyboard-double-arrow-down" />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 20px, 0);
    }
  }

  @keyframes rotateAndPause {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-in-out;
    }
    12.5% {
      transform: rotate(90deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    25% {
      transform: rotate(90deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    37.5% {
      transform: rotate(180deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    50% {
      transform: rotate(180deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    62.5% {
      transform: rotate(270deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    75% {
      transform: rotate(270deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    87.5% {
      transform: rotate(360deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    100% {
      transform: rotate(360deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
  }

  #splashLogo {
    animation: rotateAndPause 6s infinite;
  }

  #arrow-down {
  }
  @media (prefers-reduced-motion: reduce) {
    #splashLogo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
