---
import { Icon } from 'astro-icon/components'
import bgVideo from "/videos/logo.mp4"
 

const videoProps = {
  playsInline: true, 
  autoPlay: true,
  muted: true,
  loop: true  
}

---

<section class="relative h-full max-w-screen bg-black grid place-content-center justify-items-center">
  <video class="max-h-screen max-w-full object-cover" {...videoProps}>
    <source src={bgVideo} type="video/mp4">
  </video> 
  <div
      id="arrow-down"
      class="z-10 absolute bottom-2 h-6 animate-bounce border-current text-white md:hidden"
    >
      <Icon class="mt-50" name="ic:baseline-keyboard-double-arrow-down" />
    </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 20px, 0);
    }
  }

  @keyframes rotateAndPause {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-in-out;
    }
    12.5% {
      transform: rotate(90deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    25% {
      transform: rotate(90deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    37.5% {
      transform: rotate(180deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    50% {
      transform: rotate(180deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    62.5% {
      transform: rotate(270deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    75% {
      transform: rotate(270deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    87.5% {
      transform: rotate(360deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
    100% {
      transform: rotate(360deg);
      animation-timing-function: ease-in-out;
      animation-delay: 0.25s;
    }
  }

  #splashLogo {
    animation: rotateAndPause 6s infinite;
  }

  #arrow-down {
  }
  @media (prefers-reduced-motion: reduce) {
    #splashLogo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
