---
import { Icon } from 'astro-icon/components'
import bgVideo from "/videos/logo.mp4"
 

const videoProps = {
  playsInline: true, 
  autoPlay: true,
  muted: true,
  loop: true  
}

---

<section class="relative h-full max-w-screen bg-black grid place-content-center justify-items-center">
  <video class="max-h-screen max-w-full object-cover" {...videoProps}>
    <source src={bgVideo} type="video/mp4">
  </video> 
  <div
      id="arrow-down"
      class="z-10 absolute bottom-2 h-6 animate-bounce border-current text-white md:hidden"
    >
      <Icon class="mt-50" name="ic:baseline-keyboard-double-arrow-down" />
    </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>