---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Breadcrumbs from "~/components/breadcrumbs.astro";
import ContentSection from "~/components/content-section.astro";
import WorkCard from "~/components/work-card.astro";
import { getShowcase } from "../../data/work";
const sites = await getShowcase();
const urlList = Astro.url.pathname.split("/").filter(Boolean);
---

<BaseLayout title="品牌案例" description="浏览格润达理工作室创作的品牌设计案例。">
  <div class="mt-20 sm:mt-10 sm:pb-32 sm:pt-10">
    <Breadcrumbs urlList={urlList} />
    <ContentSection title="合作项目" subtitle="Our Works" id="work">
      <Fragment slot="description">
        以下商业作品是我们的创意宣言，每一件作品都是商业策略、艺术美学与理性思维交织的结晶。在此板块，我们将展现如何通过独特的设计理念与卓越的设计实践，赋能品牌，使之在市场中脱颖而出。
      </Fragment>
      <Fragment slot="description-below">
        The portfolio at Greener-Dalii Studio is our creative manifesto, where
        each piece intertwines business acumen, artistic expression, and
        rational thinking. In this section, we reveal how we fuse these elements
        to empower brands, making them stand out in today's marketplace.
      </Fragment>
      <Fragment slot="content">
        <div class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
          <div class="w-full max-w-7xl space-y-2">
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">
              {sites.map((site) => <WorkCard site={site} />)}
            </div>
          </div>
        </div>
      </Fragment>
    </ContentSection>
  </div>
</BaseLayout>
